@import '/src/colors';

.panel {
  margin-top: 1rem;

  > div {
    width: 100% !important;
  }
}

.panelInnhold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > *:not(:first-child) {
    margin-left: 1.5rem;
  }
}

.antallEndringsmeldingerEtikett {
  min-width: 100px;
  height: 24px;
}

.header {
  margin-bottom: 0.25rem
}