.panel {
  margin-bottom: 1rem;
}

.innhold {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bodyShort:not(:last-of-type) {
    margin-bottom: 0.3rem;
}

.alert {
  margin-top: 2rem;
}

.tag {
    margin-right: 0.5rem;
}

.leggTilKnapp {
    span {
        display: inline-flex;
        gap: var(--a-spacing-2);
    }
    svg {
        width: 20px;
        height: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
