@import '/src/colors';

.panel {
  margin-bottom: 1rem;
}

.innhold {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.muted {
  color: $textMuted;
  font-size: 1rem;
}

.alert {
  margin-top: 2rem;
}

.leggTilKnapp {
    span {
        display: inline-flex;
        gap: var(--a-spacing-2);
    }
    svg {
        width: 24px;
        height: 24px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
