@import '/src/colors';

.panel {
  margin-bottom: 1rem;
}

.innhold {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.muted {
  color: $textMuted;
  font-size: 1rem;
}

.alert {
  margin-top: 2rem;
}
