.heading {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 1rem;
}

.alert {
  min-width: 175px;
  align-self: flex-start;

  svg {
    margin: auto 0;
  }
}

.fjernKnapp {
  min-width: 175px;
  align-self: flex-start;
}