@import '/src/globals.module';

.mainPage {
  max-width: $max-bredde;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.sok {
  display: flex;
  align-items: flex-end;

  > *:not(:first-child) {
    margin-left: 1rem;
  }

  margin-bottom: 2rem;
}