@import '/src/globals.module';

.mainPage {
  max-width: $max-bredde;
  margin: 2rem auto;
}

.sok {
  display: flex;
  align-items: flex-end;
  width: min-content;
  > *:not(:first-child) {
    margin-left: 1rem;
  }

  margin-bottom: 2rem;
}