@import 'src/globals.module.scss';

.page {
  max-width: $max-bredde;
  margin: 2rem auto;
}

.liste {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.tilbakeKnapp {
  text-decoration: none;
  margin: 1rem 0
}
