.errorAlert {
  width: fit-content;
}

.ikkeArkivertPadding {
  margin-left: var(--navds-spacing-3);
  margin-right: var(--navds-spacing-3);
}

.spaceTop {
  margin-top: 1rem;
}

.spaceBottom {
  margin-bottom: 1.5rem !important;
}

.accordionHeader {
    span {
        font-weight: 400;
        font-size: 1.125rem;
    }
    padding: 0;
    border-bottom: none !important;

    color: var(--navds-semantic-color-interaction-primary);
    background-color: transparent !important;
    &:hover {
        color: var(--navds-semantic-color-interaction-primary-hover) !important;
        text-decoration: underline;
    }
}

.accordionContent {
  border-bottom: none !important;
  padding-bottom: 0
}


