.noBottomBorder {
  border-bottom: none;
  padding-bottom: 0
}

.header {
  font-size: 1rem;
  padding: 0;
  background-color: transparent !important;
}

.ikkeTilgangAlert {
  width: fit-content;
}

.ikkeArkivertPadding {
  margin-left: var(--navds-spacing-3);
  margin-right: var(--navds-spacing-3);
}

.spaceTop {
  margin-top: 1rem;
}