.noBottomBorder {
  border-bottom: none;
  padding-bottom: 0
}

.ikkeTilgangAlert {
  width: fit-content;
}

.ikkeArkivertPadding {
  margin-left: var(--navds-spacing-3);
  margin-right: var(--navds-spacing-3);
}

.spaceTop {
  margin-top: 1rem;
}

.spaceBottom {
  margin-bottom: 1.5rem;
}

.accordionHeader {
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0;
    border-bottom: none;

    color: var(--navds-semantic-color-interaction-primary);
    background-color: transparent !important;
}
.accordionHeader:enabled {
    color: var(--navds-semantic-color-interaction-primary);
}
.accordionHeader:hover {
    color: var(--navds-semantic-color-interaction-primary-hover);
}


