.liste {
  list-style: none;
  padding-left: 0;
}

.listItem {
  margin-bottom: 0.75rem;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
