@use '../../globals.module';

.mainPage {
  max-width: globals.$max-bredde;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert_info_endringer {
  margin-bottom: 2rem;
}

.alert_heading {
  margin-bottom: 0.5rem;
}
.linke_navet {
  font-size: 1.125rem;
}

.list_title {
  margin-top: 1rem;
  }
  
  .list {
    ul {
      margin-top: 0.5rem;
  }
}