@import '/src/globals.module';

.mainPage {
  max-width: $max-bredde;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert_info_endringer {
  margin-bottom: 2rem;
}

.alert_info_endringer_text {
  margin-bottom: 1rem;
}