@import '/src/globals.module';

.mainPage {
  max-width: $max-bredde;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert_info_endringer {
  margin-bottom: 2rem;
}

.alert_heading {
  margin-bottom: 0.5rem;
}
.linke_navet {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
.linke_nav {
  font-size: 1.125rem;
}