
.header {
  display: flex;
  justify-content: space-between;
}

.userBtn {
  margin-left: auto;
}

.userDropdown {
  position: absolute;
  width: 200px;
  padding: 0.5rem;
  right: 0;
  top: 45px;
  box-shadow: var(--a-shadow-medium);
}

.logOutLink {
  width: 100%;
  padding: 0.5rem;
}
