.leggTilAnsatt {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.fnrField {
  margin-right: 2rem;
}

.sokSeksjon {
  display: flex;
  flex-direction: row;
}

.leggTilSeksjon {
  display: flex;
  flex-direction: column;
}

.sokKnapp {
  min-width: 100px;
}

.sokKnappWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
