.leggTilAnsatt {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.sokSeksjon {
  display: flex;
  flex-direction: row;
}

.leggTilSeksjon {
  display: flex;
  flex-direction: column;
}