
.headerFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.header {
  flex-grow: 1;
}

.lenke {
  flex-grow:1;
  text-align: right;
  align-self: end;

  text-decoration: none;
  font-weight: bold;
}
