@use '../../globals.module.scss';
@use '../../colors';

.page {
  max-width: globals.$max-bredde;
  margin: 2rem auto;
}

.seperator {
  height: 1px;
  width: 100%;
  background-color: colors.$navGra50;
}

.fjernFraMinOversiktSection {
  margin-top: 1rem;
}

.tabPanel{
  padding: 2rem 0;
}