.endringInfoTekst {
  padding-top: 0.5rem;
}

.moveRight {
  margin-left: auto;
}

.smallText {
  font-size: 1rem;
}

.spaceTop {
  margin-top: 0.5rem;
}

.gray {
  color: var(--navds-semantic-color-text-muted);
}

.bold {
  font-weight: bolder;
}

.fnr {
  margin-left: 1rem !important;
}

.panel {
  border-color: var(--navds-semantic-color-border-muted);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.sluttdato {
    margin-top: 0.5rem !important;
    color: var(--navds-semantic-color-text-muted);
}

.body {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.spaceBottom {
    margin-bottom: 1rem
}

.sendt {
    margin: 0 0 0 auto !important;
    @extend .gray;
}
