.endringInfoTekst {
  margin-top: 0.25rem !important;
}

.moveRight {
  margin-left: auto;
}

.moveTop {
  margin-bottom: auto;
}

.smallText {
  font-size: 0.875rem !important;
}

.spaceTop {
  margin-top: 0.5rem;
}

.gray {
  color: var(--navds-semantic-color-text-muted);
}

.bold {
  font-weight: 600 !important;
}

.fnr {
  margin-left: 1rem !important;
}

.panel {
  border-color: var(--navds-semantic-color-border-muted);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.ikonRow {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.meldingRow {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.sluttdato {
  margin-top: 0.25rem !important;
  color: var(--navds-semantic-color-text-muted);
}

.endreProsentDeltakelseIkon {
  color: var(--navds-global-color-purple-400);
}

.body {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.spaceBottom {
  margin-bottom: 1rem
}

.sendt {
  margin: 0 0 0 auto !important;
  @extend .gray;
}

.ikon {
  height: 1.4rem;
  width: 1.4rem;
}

.oppstartsdatoIkon {
  color: var(--navds-global-color-deepblue-300);
  @extend .ikon;
}

.forlengeDeltakelseIkon {
  color: var(--navds-semantic-color-feedback-success-icon);
  @extend .ikon;
}

.avsluttDeltakelseIkon {
  color: var(--navds-global-color-gray-500);
  @extend .ikon;
}

.ikkeAktuellIkon {
  color: var(--navds-semantic-color-feedback-warning-icon);
  @extend .ikon;
}
