.endringInfoTekst {
  margin-top: 0.25rem !important;
}

.smallText {
  font-size: 0.875rem !important;
}

.spaceTop {
  margin-top: 0.5rem;
}

.gray {
  color: var(--a-text-subtle);
}

.endringstype {
  font-weight: var(--a-font-weight-bold);}

.fnr {
  margin-left: 1rem !important;
}

.panel {
  border-color: var(--a-border-default);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.ikonColumn {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.meldingInnholdColumn {
  width: 100%;
  min-width: fit-content;
}

.sluttdato {
  margin-top: 0.25rem !important;
  color: var(--a-text-subtle);
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.spaceBottom {
  margin-bottom: 0.5rem
}

.sendt {
  margin: 0 0 0 auto !important;
  @extend .gray;
}
