.ikon {
  height: 22px;
  width: 22px;
}

.endreIkon {
  color: var(--ax-brand-blue-400);
  @extend .ikon;
}

.forlengIkon {
  color: var(--ax-text-success-decoration);
  @extend .ikon;
}

.ikkeAktuellIkon {
  color: var(--ax-text-warning-decoration);
  transform: rotate(45deg);
  @extend .ikon;
}

.endreProsentDeltakelseIkon {
  color: var(--ax-meta-purple-500);
  @extend .ikon;
}

.avsluttIkon {
  color: var(--ax-neutral-600);
  @extend .ikon;
}

.erAktuellIkon {
  color: var(--ax-text-meta-lime-decoration);
  @extend .ikon;
}