$navLysGra: var(--ax-neutral-200);
$navGra20: var(--ax-neutral-300);
$navGra50: var(--ax-neutral-600);
$navGra60: var(--ax-neutral-700);
$navMorkGra: var(--ax-neutral-1000);

$textMuted: var(--ax-text-neutral-subtle)