@import '/src/colors';

.panel {
  margin-top: 1rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > *:not(:first-child) {
    margin-left: 1.5rem;
  }
}

.header {
  margin-bottom: 0.25rem
}