@import '/src/colors';

.panel {
  margin-top: 1rem;

  > div {
    width: 100% !important;
  }
}

.panelInnhold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > *:not(:first-child) {
    margin-left: 1.5rem;
  }
}

.antallEndringsmeldingerEtikett {
  height: 24px;
}

.header {
  margin-bottom: 0.25rem
}